body {
  background: #F2F2F2; }

pre {
  color: grey;
  font-size: .8rem; }

footer {
  text-align: center; }
  footer a {
    color: #E0CDC7;
    text-decoration: underline; }
  footer p {
    font-size: .7rem;
    margin-bottom: 5px; }
